<body class="admin-body">
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
<app-sidebar></app-sidebar>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">

    </div>
    <div class="row">

<!-- table start -->




      <!-- table end -->

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Testimonl Table</h4>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>testimonial text</th>
                    <th>status</th>
                    <th>testimonialdate</th>
                   <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of  adminService.testimonial ">
                    <td>{{obj.testimonialtext}}</td>
                    <td>
                      <ng-container *ngIf="obj.status === 'pending'; else accepted">
                        <label style="font-size: 18px;"  class="badge badge-warning">{{obj.status}}</label>
                      </ng-container>
                      <ng-template #accepted>
                        <ng-container *ngIf="obj.status === 'Accepted'; else Rejected">
                          <label style="font-size: 18px;"  class="badge badge-success">{{obj.status}}</label>
                        </ng-container>
                        <ng-template #Rejected>
                          <label style="font-size: 18px;" class="badge badge-danger" >{{obj.status}}</label>
                        </ng-template>
                      </ng-template>
                    </td>   <!-- <td>{{obj.status}}</td> -->
                      <td>{{obj.testimonialdate|date}}</td>
                    <td>
                      <button style="margin:5px ;" (click)="Accept(obj)" mat-raised-button color="primary">Accept</button>
                      <button  mat-raised-button color="warn"  (click)="Reject(obj)" >Reject</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->



<app-footer></app-footer>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

<ng-template #AcceptDailog>
  <h1 mat-dialog-title> Testimonl</h1>
<div mat-dialog-content>are you sure Accepted Testimonl ?</div>
<div mat-dialog-actions>
   <button type="button" mat-raised-button color="primary"  mat-button mat-dialog-close="yes" cli>yes</button> 
  <button  type="button" mat-button mat-dialog-close="no">no</button>

</div>

</ng-template>
</body>



