<body class="admin-body">
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-navbar></app-navbar>
    <!-- partial -->
    
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <app-sidebar></app-sidebar>



      <div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <nav aria-label="breadcrumb">

      </nav>
    </div>
    <div class="row">


<!-- table start -->

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">pharmacy Table</h4> 


      <div style="margin-top: 15px;" class="navbar-menu-wrapper d-flex align-items-stretch">
        <button style="margin-right:250px ;" mat-raised-button color="primary" (click)="OpenCreateDialog()">Create pharmacy</button>
        <div class="search-field d-none d-xl-block">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 mdi mdi-magnify" style="height: 59px;"></i>
              </div>
              <mat-form-field class="example-form-field">
                <mat-label>Sarech medicne Name</mat-label>
                <input matInput type="text" [(ngModel)]="pharmacyName">
                <button *ngIf="pharmacyName" matSuffix mat-icon-button aria-label="Clear" (click)="pharmacyName=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
        </div>
      </div>

      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-hover">
          <thead>
          <tr>
              <th>Pharmacy Name</th>
              <!-- <th>Location_ </th> -->
              <th>Address_ </th>
              <th>Lng</th>
              <th>Lat  </th>
              <th>Email </th>
              <th>Phone Number</th>
              <th>action</th>
              <th>pharmacy details</th>



          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of  adminService.pharmacy  |filtarByPharmacyName:pharmacyName">
              <td>{{obj.pharmacyname}}</td>
              <!-- <td>{{obj.location}}</td> -->
              <td>{{obj.address}}</td>
              <td>{{obj.lng}}</td>
              <td>{{obj.lat}}</td>
              <td>{{obj.email}}</td>
              <td>{{obj.phonenumber}}</td>
             <!-- <td> <button style="margin:5px ;" mat-raised-button color="primary"  (click)="openMedicineDialog(obj)" > all medicne In Pharmacy</button></td> -->
              <td>
                <button style="margin:5px ;" mat-raised-button color="primary"  (click)="openUpdateDailog(obj)" >update</button>
                <button  mat-raised-button color="warn" (click)="DeletePharmcy(obj.pharmacyid)">delete</button>

              </td>
              <td>
                <button style="margin:5px ;" mat-raised-button color="primary"  (click)="pharmacydetlis(obj.pharmacyid)" >pharmacy detlis</button>

              </td>
              
          </tr>
         
       
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


      <!-- table end -->
    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->



<app-footer></app-footer>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->



<ng-template #callDeletesDailog>
  <h1 mat-dialog-title>Delete Contact US</h1>
<div mat-dialog-content>Are you sure want to delete this item ?</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
  <button  type="button" mat-button mat-dialog-close="no">no</button>
</div>

</ng-template>
<ng-template #CreatePharmacDailog>
  <h1 mat-dialog-title>Delete Contact US</h1>
<div mat-dialog-content>Are you sure want to delete this item ?</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
  <button  type="button" mat-button mat-dialog-close="no">no</button>

</div>

</ng-template>


<ng-template #createPharmacDailog>
  <h2 mat-dialog-title>Create pharmacy</h2>
<mat-dialog-content class="mat-typography">
  
  <form class="example-form" [formGroup]="CreatePharmacy">
    <mat-form-field class="example-full-width">
      <mat-label>pharmacy name</mat-label>
      <input type="text" matInput formControlName="pharmacyname">
      <mat-error *ngIf="updatePharmacy.controls['pharmacyname'].hasError('required')">
        pharmacy name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<!-- 
 <mat-form-field class="example-full-width">
      <mat-label>location </mat-label>
      <input type="text" matInput formControlName="location" >
      <mat-error *ngIf="updatePharmacy.controls['location'].hasError('required')">
        location is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->

    <mat-form-field class="example-full-width">
      <mat-label>address</mat-label>
      <mat-select formControlName="address">
        <mat-option value="Amman">Amman</mat-option>
        <mat-option value="Irbid">Irbid</mat-option>
        <mat-option value="Zarqa">Zarqa</mat-option>
        <mat-option value="Aqaba">Aqaba</mat-option>
        <mat-option value="as-Salt">as-Salt</mat-option>
        <mat-option value="Madaba">Madaba</mat-option>
        <mat-option value="al-Mafraq">al-Mafraq</mat-option>
        <mat-option value="Ma'an">Ma'an</mat-option>
        <mat-option value="at-Tafila">at-Tafila</mat-option>
        <mat-option value="al-Karak">Karak</mat-option>
      </mat-select>
      <mat-error *ngIf="updatePharmacy.controls['address'].hasError('required')">
        address is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <mat-label>lng</mat-label>
      <input type="number" matInput formControlName="lng"  >
      <mat-error *ngIf="updatePharmacy.controls['lng'].hasError('required')">
        lng is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>lat</mat-label>
      <input type="number" matInput formControlName="lat"  >
      <mat-error *ngIf="updatePharmacy.controls['lat'].hasError('required')">
        lat is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input type="text" matInput formControlName="email"   >
      <mat-error *ngIf="updatePharmacy.controls['email'].hasError('required')">
        email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="updatePharmacy.controls['email'].hasError('email')">
        pleasc enter a valid email address 
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>phone number</mat-label>
      <input type="text" matInput formControlName="phonenumber"   >
      <mat-error *ngIf="updatePharmacy.controls['phonenumber'].hasError('required')">
        phone numberis <strong>required</strong>
      </mat-error>
    </mat-form-field>


  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
   <button mat-button [mat-dialog-close]="true" (click)="CreatePharm()"  mat-raised-button color="primary"  cdkFocusInitial>Create</button> 
</mat-dialog-actions>
</ng-template> 
 





<ng-template #up>
  <h2 mat-dialog-title>update pharmacy</h2>
<mat-dialog-content class="mat-typography">
  
  <form class="example-form" [formGroup]="updatePharmacy">
    <mat-form-field class="example-full-width">
      <mat-label>pharmacy name</mat-label>
      <input type="text" matInput formControlName="pharmacyname" [(ngModel)]="pData.pharmacyname">
      <mat-error *ngIf="updatePharmacy.controls['pharmacyname'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<!-- 
 <mat-form-field class="example-full-width">
      <mat-label>location </mat-label>
      <input type="text" matInput formControlName="location" [(ngModel)]="pData.location" >
      <mat-error *ngIf="updatePharmacy.controls['location'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <mat-label>address</mat-label>
      <mat-select formControlName="address"  [(ngModel)]="pData.address">
        <mat-option value="Amman">Amman</mat-option>
        <mat-option value="Irbid">Irbid</mat-option>
        <mat-option value="Zarqa">Zarqa</mat-option>
        <mat-option value="Aqaba">Aqaba</mat-option>
        <mat-option value="as-Salt">as-Salt</mat-option>
        <mat-option value="Madaba">Madaba</mat-option>
        <mat-option value="al-Mafraq">al-Mafraq</mat-option>
        <mat-option value="Ma'an">Ma'an</mat-option>
        <mat-option value="at-Tafila">at-Tafila</mat-option>
        <mat-option value="al-Karak">Karak</mat-option>
      </mat-select>
      <mat-error *ngIf="updatePharmacy.controls['address'].hasError('required')">
        address is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>lng</mat-label>
      <input type="number" matInput formControlName="lng"  [(ngModel)]="pData.lng">
      <mat-error *ngIf="updatePharmacy.controls['lng'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Expire_Date</mat-label>
      <input type="number" matInput formControlName="lat"  [(ngModel)]="pData.lat" >
      <mat-error *ngIf="updatePharmacy.controls['lat'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input type="text" matInput formControlName="email"  [(ngModel)]="pData.email" >
      <mat-error *ngIf="updatePharmacy.controls['email'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="updatePharmacy.controls['email'].hasError('email')">
        pleasc enter a valid email address 
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>phone number</mat-label>
      <input type="text" matInput formControlName="phonenumber"  [(ngModel)]="pData.phonenumber" >
      <mat-error *ngIf="updatePharmacy.controls['phonenumber'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>


  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
   <button mat-button [mat-dialog-close]="true" (click)="update()"  mat-raised-button color="primary" [disabled]="!updatePharmacy.valid" cdkFocusInitial>update</button> 
</mat-dialog-actions>
</ng-template> 
 





</body>
  
  
  
  
  
  
  