.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .country-list-container {
    width: 300px; 
    overflow-x: auto;
  }
  
  .country-list {
    white-space: nowrap; 
    display: flex;
  }


  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Choose';
    display: inline-block;
    background-color: #1ea878;
    color: #ffffff;
    border: 1px solid #078f66;
    border-radius: 5px;
    padding: 6px 12px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
}

.custom-file-input:hover::before {
    border-color: #00b324;
}

.custom-file-input:active::before {
    background-color: #0d7657;
    border-color: #057c58;
}

