<body class="admin-body">
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
<app-sidebar></app-sidebar>

      
      <div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <!-- <nav aria-label="breadcrumb">
 
      </nav> -->
    </div>
    <div class="row">

<!-- table start -->

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Contact Us Table</h4>
                    <div class="table-responsive">
                      <table  datatable [dtOptions]="dtOptions" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Action</th> 
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of  adminService.contact ">
                            <td>{{obj.name}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.subject}}</td>
                            <td>{{obj.message}}</td>
                            <td><button mat-raised-button color="primary"  style="margin: 10px;" (click)="ReplayEmail(obj.email)">replay email</button>
                              <button  mat-raised-button color="warn" (click)="DeleteContact(obj.contactusid)">delete</button>
                            </td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



      <!-- table end -->




    </div>
</div>


<ng-template #callDeleteDailog>
  <h1 mat-dialog-title>Delete Contact US</h1>
<div mat-dialog-content>Are you sure want to delete this item ?</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
  <button  type="button" mat-button mat-dialog-close="no">no</button>

</div>

</ng-template>


<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->


<app-footer></app-footer>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->




<ng-template #ReplayEmaill>
  <h2 mat-dialog-title>Reply Email</h2>
  <div mat-dialog-content>

  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="sendEmail">
      <mat-form-field class="example-full-width">
        <mat-label>Recipient Email</mat-label>
        <div>{{ pData }}</div>
        <input style="width: 300px;" type="text" matInput formControlName="to" hidden >
        <mat-error *ngIf="sendEmail.controls['to'].hasError('required')">
          Recipient email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Subject</mat-label>
        <input type="text" matInput formControlName="subject" placeholder="Enter the subject">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        
        <textarea matInput formControlName="plainText" rows="5" placeholder="Type your message here"></textarea>
        <mat-error *ngIf="sendEmail.controls['plainText'].hasError('required')">
          Message is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close="no">Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="sendEmailContact()"  mat-raised-button color="primary"  [disabled]="!sendEmail.valid" cdkFocusInitial>
      Send Email
    </button>
  </mat-dialog-actions>
</div>

</ng-template>




<!-- 
<ng-template #ReplayEmaill>
  <h2 mat-dialog-title>Replay Email</h2>
  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="sendEmail">
      <mat-form-field class="example-full-width">
        <mat-label>Recipient Email</mat-label>
        <div>{{ pData }}</div>
        <input type="text" matInput formControlName="to" hidden>
        <mat-error *ngIf="sendEmail.controls['to'].hasError('required')">
          Recipient email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Subject</mat-label>
        <input type="text" matInput formControlName="subject">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="plainText" rows="5"></textarea>
        <mat-error *ngIf="sendEmail.controls['plainText'].hasError('required')">
          Message is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="sendEmailContact()" [disabled]="!sendEmail.valid" cdkFocusInitial>
      Send Email
    </button>
  </mat-dialog-actions>
</ng-template>
 -->





</body>
