<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
<app-sidebar></app-sidebar>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Tables</a></li>
          <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
        </ol>
      </nav>
    </div>
    <div class="row">

<!-- table start -->

              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Contact Us Table</h4>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Action</th>        
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of  adminService.contact ">
                            <td>{{obj.name}}</td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.subject}}</td>
                            <td>{{obj.message}}</td>
                            <td>
                              <button style="margin:5px ;" mat-raised-button color="primary">update</button>
                              <button  mat-raised-button color="warn" (click)="DeleteContact(obj.contactusid)">delete</button>
        
                            </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



      <!-- table end -->




    </div>
</div>


<ng-template #callDeleteDailog>
  <h1 mat-dialog-title>Delete Contact US</h1>
<div mat-dialog-content>Are you sure want to delete this item ?</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
  <button  type="button" mat-button mat-dialog-close="no">no</button>

</div>

</ng-template>


<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->


<app-footer></app-footer>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->

</body>
