<div class="container-fluid py-5">
  <div class="container py-5">
   
    <div class="ltn__testimonial-area pt-290 pb-70">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title-area ltn__section-title-2 text-center">
              <h1 class="fw-bold section-title">Clients Feedbacks<span>.</span></h1>
            </div>
          </div>
        </div>
        <div class="ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <ng-container *ngFor="let obj of testimonials">
              <ng-container *ngFor="let obj2 of Users">
                <ng-container *ngIf="obj2.userid === obj.userid && obj.status === 'Accepted'">
                  <div ngxSlickItem>
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                      <div class="ltn__testimoni-img">
                        <img src="assets\Images\{{ obj2.profileimage}}" alt="#">
                      </div>
                      <div class="ltn__testimoni-info">
                        <h4>{{ obj2.username }}</h4>
                        <p>{{ obj.testimonialtext }}</p>
                        <h6>{{ obj.testimonialdate | date }}</h6>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- 
<ng-container *ngFor="let obj of testimonials">
  <ng-container *ngFor="let obj2 of Users">
    <div *ngIf="obj2.userid === obj.userid && obj.status === 'Accepted'">
      <div class="col-4">
        <div class="ltn_testimonial-item ltn_testimonial-item-4">
          <div class="ltn__testimoni-img">
            <img src="assets\Images\{{ obj2.profileimage}}" alt="#">
          </div>
          <div class="ltn__testimoni-info">
            <h4>{{ obj2.username }}</h4>
            <p>{{ obj.testimonialtext }}</p>
            <h6>{{ obj.testimonialdate | date }}</h6>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container> -->


<!-- <div class="container-fluid py-5">
  <div class="container py-5">
   
    <div class="ltn__testimonial-area pt-290 pb-70">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title-area ltn__section-title-2 text-center">
              <h1 class="fw-bold section-title">Clients Feedbacks<span>.</span></h1>
            </div>
          </div>
        </div>
        <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
            <ng-container *ngFor="let obj of testimonials">
              <ng-container *ngFor="let obj2 of Users">
                <ng-container>
                  <div ngxSlickItem>
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                      <div class="ltn__testimoni-img">
                        <img src="assets\Images\{{ obj2.profileimage}}" alt="#">
                      </div>
                      <div class="ltn__testimoni-info">
                        <h4>{{ obj2.username }}</h4>
                        <p>{{ obj.testimonialtext }}</p>
                        <h6>{{ obj.testimonialdate | date }}</h6>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
 
  -->
<!-- <div class="container-fluid py-5">
  <div class="container py-5">
    
    <div class="ltn__testimonial-area pt-290 pb-70">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title-area ltn__section-title-2 text-center">
              <h1 class="fw-bold section-title">Clients Feedbacks<span>.</span></h1>
            </div>
          </div>
        </div>
        <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <ng-container *ngFor="let obj of testimonials">
              <ng-container *ngFor="let obj2 of Users">
                <ng-container *ngIf="obj2.userid === obj.userid && obj.status === 'Accepted'">
                  <div ngxSlickItem>
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                      <div class="ltn__testimoni-img">
                        <img src="assets\Images\{{ obj2.profileimage}}" alt="#">
                      </div>
                      <div class="ltn__testimoni-info">
                        <h4>{{ obj2.username }}</h4>
                        <p>{{ obj.testimonialtext }}</p>
                        <h6>{{ obj.testimonialdate | date }}</h6>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</div> 



      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonial-box">

              <div class="row">
                <div class="col-auto">

                </div>
                <div class="col">
                  <div class="text-meduim">
                    fggfdgfdgfdgfd
                  </div>
                </div>
              </div>
            </div>
                     
          </div>
        </div>
        <div class="carousel-item" *ngFor="let obj of testimonials">
          <div class="testimonial-box" *ngFor="let obj2 of Users">

            <div class="row" *ngIf="obj2.userid === obj.userid && obj.status === 'Accepted'">
              <div class="col-auto">
                <img src="assets\Images\{{ obj2.profileimage}}" alt="#">
              </div>
              <div class="col">
                <div class="text-meduim">
                  <p>{{ obj.testimonialtext }}1</p>
                </div>
                <div class="user-ino">
                  <h4>{{ obj2.username }}</h4><span class="text-gray">
                    <h6>{{ obj.testimonialdate | date }}</h6>
                  </span>
                </div>
              </div>
            </div>
                     
          </div>





        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     -->