 .testimonial-container {
    display: flex;
    overflow: hidden;
  }
  
  .testimonial-scroll {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .testimonial-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    min-width: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #87918a19;
    min-height: 100px;
  }
  
.testimonial-card:hover {
    transform: scale(1.05);
  } 
  
  .testimonial-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .testimonial-author {
    font-style: italic;
    color: #555;
    text-align: right;
  }

  .carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    flex: 0 0 auto;
  }
   
  .testmonial-carasoul{
    
  }

  .testmonial-carasoul .carousel-item {
    padding: 20px;
  }

