<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
<app-navbar></app-navbar>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
<app-sidebar></app-sidebar>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="#">Tables</a></li> -->
          <!-- <li class="breadcrumb-item active" aria-current="page">Basic tables</li> -->
        </ol>
      </nav>
    </div>
    <div class="row">


<!-- table start -->
<h1>{{numberOfMedicine}}</h1>

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Medicine Table</h4>
      <button style="margin:5px ;" mat-raised-button color="primary" (click)="OpenCreateDialog()">Create Medicine</button>
      <h1>{{numberOfMedicine}}</h1>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
              <th>medicine name</th>
              <th>picture</th>
              <th>medicine price</th>
              <th>medicine type</th>
              <th>medicine description</th>
              <th>expiredate</th>
              <th>active substance</th>
              <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of  adminService.medicine ">
              <td>{{obj.medicinename}}</td>
              <td><img src="../../../assets/Images/{{obj.imagename}}"></td>
              <td>{{obj.medicineprice}}</td>
              <td>{{obj.medicinetype}}</td>
              <td>{{obj.medicinedescription}}</td>
              <td>{{obj.expiredate|date}}</td>
              <td>{{obj.activesubstance}}</td>
              <td>
                <button style="margin:5px ;" mat-raised-button color="primary"   (click)="openUpdateDailog(obj)" >update</button>
                <button  mat-raised-button color="warn" (click)="DeleteMedicine(obj.medicineid)" >delete</button>

              </td>
              
          </tr>
         
       
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


      <!-- table end -->
    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->



<app-footer></app-footer>

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->





<ng-template #CreateMedicineDailog>
  <h2 mat-dialog-title>Create Medicne</h2>
<mat-dialog-content class="mat-typography">
  
  <form class="example-form" [formGroup]="CreateMedicne">
    <mat-form-field class="example-full-width">
      <mat-label>name Medicne</mat-label>
      <input type="text" matInput formControlName="medicinename" >
      <mat-error *ngIf="CreateMedicne.controls['medicinename'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

 <mat-form-field class="example-full-width">
      <mat-label>Medicine Price</mat-label>
      <input type="number" matInput formControlName="medicineprice" >
      <mat-error *ngIf="CreateMedicne.controls['medicineprice'].hasError('required')">
        medicne price is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Medicine Type</mat-label>
      <input type="text" matInput formControlName="medicinetype" >
      <mat-error *ngIf="CreateMedicne.controls['medicinetype'].hasError('required')">
        medicine type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Medicine Description</mat-label>
      <input type="text" matInput formControlName="medicinedescription" >
      <mat-error *ngIf="CreateMedicne.controls['medicinedescription'].hasError('required')">
        medicine description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Expire_Date</mat-label>
      <input type="date" matInput formControlName="expiredate" >
      <mat-error *ngIf="CreateMedicne.controls['expiredate'].hasError('required')">
        expire date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Active_Substance</mat-label>
      <input type="text" matInput formControlName="activesubstance" >
      <mat-error *ngIf="CreateMedicne.controls['activesubstance'].hasError('required')">
        Active Substance is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <input type="file" #file (change)="upleadImage(file.files)"  formControlName="imagename"  >
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="Create()" [disabled]="!CreateMedicne.valid" cdkFocusInitial>Create</button>
</mat-dialog-actions>
</ng-template>



<ng-template #callDeleteDailog>
  <h1 mat-dialog-title>Delete Contact US</h1>
<div mat-dialog-content>Are you sure want to delete this item ?</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
  <button  type="button" mat-button mat-dialog-close="no">no</button>

</div>

</ng-template>



<ng-template #updateMedicineDailog>
  <h2 mat-dialog-title>update Medicne</h2>
<mat-dialog-content class="mat-typography">
  
  <form class="example-form" [formGroup]="UpdateMedicne">
    <mat-form-field class="example-full-width">
      <mat-label> Medicne name</mat-label>
      <input type="text" matInput formControlName="medicinename" [(ngModel)]="pData.medicinename">
      <mat-error *ngIf="UpdateMedicne.controls['medicinename'].hasError('required')">
        medicne name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

 <mat-form-field class="example-full-width">
      <mat-label>Medicine Price</mat-label>
      <input type="number" matInput formControlName="medicineprice" [(ngModel)]="pData.medicineprice" >
      <mat-error *ngIf="UpdateMedicne.controls['medicineprice'].hasError('required')">
        medicine price is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Medicine Type</mat-label>
      <input type="text" matInput formControlName="medicinetype"  [(ngModel)]="pData.medicinetype" >
      <mat-error *ngIf="UpdateMedicne.controls['medicinetype'].hasError('required')">
        medicine type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Medicine Description</mat-label>
      <input type="text" matInput formControlName="medicinedescription"  [(ngModel)]="pData.medicinedescription">
      <mat-error *ngIf="UpdateMedicne.controls['medicinedescription'].hasError('required')">
        medicine description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Expire_Date</mat-label>
      <input type="date" matInput formControlName="expiredate"  [(ngModel)]="pData.expiredate" >
      <mat-error *ngIf="UpdateMedicne.controls['expiredate'].hasError('required')">
        expire date is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label> Active_Substance</mat-label>
      <input type="text" matInput formControlName="activesubstance" [(ngModel)]="pData.activesubstance"  >
      <mat-error *ngIf="UpdateMedicne.controls['activesubstance'].hasError('required')"  >
        Active Substance is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <input type="file" #file (change)="upleadImage(file.files)"  formControlName="imagename"   [(ngModel)]="pData.imagename"  >
    </div>


  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="updated()" [disabled]="!UpdateMedicne.valid" cdkFocusInitial>update</button>
</mat-dialog-actions>
</ng-template>






</body>







