<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card bg-success">
          <div class="card-body text-center ">
            <h3>Payment Successful!</h3>
            <p>Thank you for your purchase. Your transaction was successful.</p>
            <p>Transaction ID: {{ transcationid }}</p> 
            <!-- Add Bootstrap classes as needed for styling-->
            <a routerLink="/home" class="btn btn-primary">Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  