<body class="admin-body">
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
  <app-navbar></app-navbar>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-category">Main</li>
            <li class="nav-item">
              <a class="nav-link"routerLink="/admin/dashboard">
                <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
                <span class="menu-title">manage</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" routerLink="/admin/user">UserAccount</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/Medicine">Medicine</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/pharmacy">Pharmacy</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/order">order</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/Contact">Contact Us</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/Testimonial">testimonial</a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/admin/SearchInOrder">Search Sales</a></li>
        
        </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/icons/mdi.html">
                <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
                <span class="menu-title">Icons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/forms/basic_elements.html">
                <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
                <span class="menu-title">Forms</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/charts/chartjs.html">
                <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
                <span class="menu-title">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/tables/basic-table.html">
                <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
                <span class="menu-title">Tables</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="icon-bg"><i class="mdi mdi-lock menu-icon"></i></span>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="../../pages/samples/blank-page.html"> Blank Page </a></li>
                  <li class="nav-item"> <a class="nav-link" href="../../pages/samples/login.html"> Login </a></li>
                  <li class="nav-item"> <a class="nav-link" href="../../pages/samples/register.html"> Register </a></li>
                  <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-404.html"> 404 </a></li>
                  <li class="nav-item"> <a class="nav-link" href="../../pages/samples/error-500.html"> 500 </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item documentation-link">
              <a class="nav-link" href="http://www.bootstrapdash.com/demo/connect-plus-free/jquery/documentation/documentation.html" target="_blank">
                <span class="icon-bg">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                </span>
                <span class="menu-title">Documentation</span>
              </a>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="user-details">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <div class="d-flex align-items-center">
                      <div class="sidebar-profile-img">
                        <img src="assets/AdminAssets/images/faces/face28.png" alt="image">
                      </div>
                      <div class="sidebar-profile-text">
                        <p class="mb-1">Henry Klein</p>
                      </div>
                    </div>
                  </div>
                  <div class="badge badge-danger">3</div>
                </div>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Settings</span>
                </a>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-speedometer menu-icon"></i>
                  <span class="menu-title">Take Tour</span></a>
              </div>
            </li>
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>

        <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <nav aria-label="breadcrumb">

        </nav>
      </div>
      <div class="row">
  
  
  <!-- table start -->
  
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Account Table</h4>
        <button style="margin:5px ;" mat-raised-button color="primary" (click)="OpenCreatedDialog()">Create Admin User</button>
  
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>picture</th>
                <th>email</th>
                <th>gender</th>
                <th>registrationdate</th>
                <th>dateofbirth</th>
                <th>address</th>
                <th>phonenumber</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of  adminService.userAccount ">
                <td>{{obj.username}}</td>
                <td><img src="../../../assets//Images/{{obj.profileimage}}"></td> 
                <td>{{obj.email}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.registrationdate|date}}</td>
                <td>{{obj.dateofbirth|date}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.phonenumber}}</td>
                
            </tr>
           
         
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  
  
        <!-- table end -->
      </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  
  
  
  <app-footer></app-footer>
  
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  
  

  
  
  <ng-template #CreateUserAccountDailog>
    <h2 mat-dialog-title>Create Admin user</h2>
  <mat-dialog-content class="mat-typography">
    
    <form class="example-form" [formGroup]="CreateAdminUser">
      <mat-form-field class="example-full-width">
        <mat-label>name </mat-label>
        <input type="text" matInput formControlName="username" >
        <mat-error *ngIf="CreateAdminUser.controls['username'].hasError('required')">
           name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
   <mat-form-field class="example-full-width">
        <mat-label> email</mat-label>
        <input type="text" matInput formControlName="email" >
        <mat-error *ngIf="CreateAdminUser.controls['email'].hasError('required')">
          email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="CreateAdminUser.controls['email'].hasError('email')">
          pleasc enter a valid email address 
        </mat-error>
      </mat-form-field>
   <mat-form-field class="example-full-width">
    <mat-label>passowrd</mat-label>
    <input type="password" matInput formControlName="password" (change)="repeatpasswordError()" >
    <mat-error *ngIf="CreateAdminUser.controls['password'].hasError('required')">
     password  is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="CreateAdminUser.controls['password'].hasError('minLength')">
     plesce enter astrong password<strong>required</strong>
     </mat-error>
     <mat-error *ngIf="CreateAdminUser.controls['password'].hasError('misMatch')">
      confirm password should match with password
      </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Repeat your passowrd </mat-label>
    <input type="password" matInput formControlName="confirmPassword" (change)="repeatpasswordError()" >
    <mat-error *ngIf="CreateAdminUser.controls['confirmPassword'].hasError('misMatch')">
    confirm password should match with password
    </mat-error>

  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option   value="male">Male</mat-option  >
      <mat-option   value="female">Female</mat-option  >
      <!-- Add more mat-option  s if needed -->
    </mat-select>
    <mat-error *ngIf="CreateAdminUser.controls['gender'].hasError('required')">
      Gender is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  
  
      <mat-form-field class="example-full-width">
        <mat-label>dateofbirth</mat-label>
        <input type="date" [matDatepicker]="pickerFrom"  matInput formControlName="dateofbirth" >
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>

        <mat-error *ngIf="CreateAdminUser.controls['dateofbirth'].hasError('required')">
          birth of day is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  


      <mat-form-field class="example-full-width">
        <mat-label>address</mat-label>
        <mat-select formControlName="address">
            <mat-option   value="Afghanistan">Afghanistan</mat-option  >
                                    <mat-option   value="Albania">Albania</mat-option  >
                                    <mat-option   value="Algeria">Algeria</mat-option  >
                                    <mat-option   value="Andorra">Andorra</mat-option  >
                                    <mat-option   value="Angola">Angola</mat-option  >
                                    <mat-option   value="Antigua and Barbuda">Antigua and Barbuda</mat-option  >
                                    <mat-option   value="Argentina">Argentina</mat-option  >
                                    <mat-option   value="Armenia">Armenia</mat-option  >
                                    <mat-option   value="Australia">Australia</mat-option  >
                                    <mat-option   value="Austria">Austria</mat-option  >
                                    <mat-option   value="Azerbaijan">Azerbaijan</mat-option  >
                                    <mat-option   value="Bahamas">The Bahamas</mat-option  >
                                    <mat-option   value="Bahrain">Bahrain</mat-option  >
                                    <mat-option   value="Bangladesh">Bangladesh</mat-option  >
                                    <mat-option   value="Barbados">Barbados</mat-option  >
                                    <mat-option   value="Belarus">Belarus</mat-option  >
                                    <mat-option   value="Belgium">Belgium</mat-option  >
                                    <mat-option   value="Belize">Belize</mat-option  >
                                    <mat-option   value="Benin">Benin</mat-option  >
                                    <mat-option   value="Bhutan">Bhutan</mat-option  >
                                    <mat-option   value="Bolivia">Bolivia</mat-option  >
                                    <mat-option   value="Bosnia and Herzegovina">Bosnia and Herzegovina</mat-option  >
                                    <mat-option   value="Botswana">Botswana</mat-option  >
                                    <mat-option   value="Brazil">Brazil</mat-option  >
                                    <mat-option   value="Brunei">Brunei</mat-option  >
                                    <mat-option   value="Bulgaria">Bulgaria</mat-option  >
                                    <mat-option   value="Burkina Faso">Burkina Faso</mat-option  >
                                    <mat-option   value="Burundi">Burundi</mat-option  >
                                    <mat-option   value="Cabo Verde">Cabo Verde</mat-option  >
                                    <mat-option   value="Cambodia">Cambodia</mat-option  >
                                    <mat-option   value="Cameroon">Cameroon</mat-option  >
                                    <mat-option   value="Canada">Canada</mat-option  >
                                    <mat-option   value="Central African Republic">Central African Republic</mat-option  >
                                    <mat-option   value="Chad">Chad</mat-option  >
                                    <mat-option   value="Chile">Chile</mat-option  >
                                    <mat-option   value="China">China</mat-option  >
                                    <mat-option   value="Colombia">Colombia</mat-option  >
                                    <mat-option   value="Comoros">Comoros</mat-option  >
                                    <mat-option   value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</mat-option  >
                                    <mat-option   value="Congo, Republic of the">Congo, Republic of the</mat-option  >
                                    <mat-option   value="Costa Rica">Costa Rica</mat-option  >
                                    <mat-option   value="Côte d’Ivoire">Côte d’Ivoire</mat-option  >
                                    <mat-option   value="Croatia">Croatia</mat-option  >
                                    <mat-option   value="Cuba">Cuba</mat-option  >
                                    <mat-option   value="Cyprus">Cyprus</mat-option  >
                                    <mat-option   value="Czech Republic">Czech Republic</mat-option  >
                                    <mat-option   value="Denmark">Denmark</mat-option  >
                                    <mat-option   value="Djibouti">Djibouti</mat-option  >
                                    <mat-option   value="Dominica">Dominica</mat-option  >
                                    <mat-option   value="Dominican Republic">Dominican Republic</mat-option  >
                                    <mat-option   value="East Timor (Timor-Leste)">East Timor (Timor-Leste)</mat-option  >
                                    <mat-option   value="Ecuador">Ecuador</mat-option  >
                                    <mat-option   value="Egypt">Egypt</mat-option  >
                                    <mat-option   value="El Salvador">El Salvador</mat-option  >
                                    <mat-option   value="Equatorial Guinea">Equatorial Guinea</mat-option  >
                                    <mat-option   value="Eritrea">Eritrea</mat-option  >
                                    <mat-option   value="Estonia">Estonia</mat-option  >
                                    <mat-option   value="Eswatini">Eswatini</mat-option  >
                                    <mat-option   value="Ethiopia">Ethiopia</mat-option  >
                                    <mat-option   value="Fiji">Fiji</mat-option  >
                                    <mat-option   value="Finland">Finland</mat-option  >
                                    <mat-option   value="France">France</mat-option  >
                                    <mat-option   value="Gabon">Gabon</mat-option  >
                                    <mat-option   value="The Gambia">The Gambia</mat-option  >
                                    <mat-option   value="Georgia">Georgia</mat-option  >
                                    <mat-option   value="Germany">Germany</mat-option  >
                                    <mat-option   value="Ghana">Ghana</mat-option  >
                                    <mat-option   value="Greece">Greece</mat-option  >
                                    <mat-option   value="Grenada">Grenada</mat-option  >
                                    <mat-option   value="Guatemala">Guatemala</mat-option  >
                                    <mat-option   value="Guinea">Guinea</mat-option  >
                                    <mat-option   value="Guinea-Bissau">Guinea-Bissau</mat-option  >
                                    <mat-option   value="Guyana">Guyana</mat-option  >
                                    <mat-option   value="Haiti">Haiti</mat-option  >
                                    <mat-option   value="Honduras">Honduras</mat-option  >
                                    <mat-option   value="Hungary">Hungary</mat-option  >
                                    <mat-option   value="Iceland">Iceland</mat-option  >
                                    <mat-option   value="India">India</mat-option  >
                                    <mat-option   value="Indonesia">Indonesia</mat-option  >
                                    <mat-option   value="Iran">Iran</mat-option  >
                                    <mat-option   value="Iraq">Iraq</mat-option  >
                                    <mat-option   value="Ireland">Ireland</mat-option  >
                                    <mat-option   value="Italy">Italy</mat-option  >
                                    <mat-option   value="Jamaica">Jamaica</mat-option  >
                                    <mat-option   value="Japan">Japan</mat-option  >
                                    <mat-option   value="Jordan">Jordan</mat-option  >
                                    <mat-option   value="Kazakhstan">Kazakhstan</mat-option  >
                                    <mat-option   value="Kenya">Kenya</mat-option  >
                                    <mat-option   value="Kiribati">Kiribati</mat-option  >
                                    <mat-option   value="Korea, North">Korea, North</mat-option  >
                                    <mat-option   value="Korea, South">Korea, South</mat-option  >
                                    <mat-option   value="Kosovo">Kosovo</mat-option  >
                                    <mat-option   value="Kuwait">Kuwait</mat-option  >
                                    <mat-option   value="Kyrgyzstan">Kyrgyzstan</mat-option  >
                                    <mat-option   value="Laos">Laos</mat-option  >
                                    <mat-option   value="Latvia">Latvia</mat-option  >
                                    <mat-option   value="Lebanon">Lebanon</mat-option  >
                                    <mat-option   value="Lesotho">Lesotho</mat-option  >
                                    <mat-option   value="Liberia">Liberia</mat-option  >
                                    <mat-option   value="Libya">Libya</mat-option  >
                                    <mat-option   value="Liechtenstein">Liechtenstein</mat-option  >
                                    <mat-option   value="Lithuania">Lithuania</mat-option  >
                                    <mat-option   value="Luxembourg">Luxembourg</mat-option  >
                                    <mat-option   value="Madagascar">Madagascar</mat-option  >
                                    <mat-option   value="Malawi">Malawi</mat-option  >
                                    <mat-option   value="Malaysia">Malaysia</mat-option  >
                                    <mat-option   value="Maldives">Maldives</mat-option  >
                                    <mat-option   value="Mali">Mali</mat-option  >
                                    <mat-option   value="Malta">Malta</mat-option  >
                                    <mat-option   value="Marshall Islands">Marshall Islands</mat-option  >
                                    <mat-option   value="Mauritania">Mauritania</mat-option  >
                                    <mat-option   value="Mauritius">Mauritius</mat-option  >
                                    <mat-option   value="Mexico">Mexico</mat-option  >
                                    <mat-option   value="Micronesia, Federated States of">Micronesia, Federated States of</mat-option  >
                                    <mat-option   value="Moldova">Moldova</mat-option  >
                                    <mat-option   value="Monaco">Monaco</mat-option  >
                                    <mat-option   value="Mongolia">Mongolia</mat-option  >
                                    <mat-option   value="Montenegro">Montenegro</mat-option  >
                                    <mat-option   value="Morocco">Morocco</mat-option  >
                                    <mat-option   value="Mozambique">Mozambique</mat-option  >
                                    <mat-option   value="Myanmar (Burma)">Myanmar (Burma)</mat-option  >
                                    <mat-option   value="Namibia">Namibia</mat-option  >
                                    <mat-option   value="Nauru">Nauru</mat-option  >
                                    <mat-option   value="Nepal">Nepal</mat-option  >
                                    <mat-option   value="Netherlands">Netherlands</mat-option  >
                                    <mat-option   value="New Zealand">New Zealand</mat-option  >
                                    <mat-option   value="Nicaragua">Nicaragua</mat-option  >
                                    <mat-option   value="Niger">Niger</mat-option  >
                                    <mat-option   value="Nigeria">Nigeria</mat-option  >
                                    <mat-option   value="North Macedonia">North Macedonia</mat-option  >
                                    <mat-option   value="Norway">Norway</mat-option  >
                                    <mat-option   value="Oman">Oman</mat-option  >
                                    <mat-option   value="Pakistan">Pakistan</mat-option  >
                                    <mat-option   value="Palau">Palau</mat-option  >
                                    <mat-option   value="Israel">Palestine</mat-option  >
                                    <mat-option   value="Panama">Panama</mat-option  >
                                    <mat-option   value="Papua New Guinea">Papua New Guinea</mat-option  >
                                    <mat-option   value="Paraguay">Paraguay</mat-option  >
                                    <mat-option   value="Peru">Peru</mat-option  >
                                    <mat-option   value="Philippines">Philippines</mat-option  >
                                    <mat-option   value="Poland">Poland</mat-option  >
                                    <mat-option   value="Portugal">Portugal</mat-option  >
                                    <mat-option   value="Qatar">Qatar</mat-option  >
                                    <mat-option   value="Romania">Romania</mat-option  >
                                    <mat-option   value="Russia">Russia</mat-option  >
                                    <mat-option   value="Rwanda">Rwanda</mat-option  >
                                    <mat-option   value="Saint Kitts and Nevis">Saint Kitts and Nevis</mat-option  >
                                    <mat-option   value="Saint Lucia">Saint Lucia</mat-option  >
                                    <mat-option   value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</mat-option  >
                                    <mat-option   value="Samoa">Samoa</mat-option  >
                                    <mat-option   value="San Marino">San Marino</mat-option  >
                                    <mat-option   value="Sao Tome and Principe">Sao Tome and Principe</mat-option  >
                                    <mat-option   value="Saudi Arabia">Saudi Arabia</mat-option  >
                                    <mat-option   value="Senegal">Senegal</mat-option  >
                                    <mat-option   value="Serbia">Serbia</mat-option  >
                                    <mat-option   value="Seychelles">Seychelles</mat-option  >
                                    <mat-option   value="Sierra Leone">Sierra Leone</mat-option  >
                                    <mat-option   value="Singapore">Singapore</mat-option  >
                                    <mat-option   value="Slovakia">Slovakia</mat-option  >
                                    <mat-option   value="Slovenia">Slovenia</mat-option  >
                                    <mat-option   value="Solomon Islands">Solomon Islands</mat-option  >
                                    <mat-option   value="Somalia">Somalia</mat-option  >
                                    <mat-option   value="South Africa">South Africa</mat-option  >
                                    <mat-option   value="Spain">Spain</mat-option  >
                                    <mat-option   value="Sri Lanka">Sri Lanka</mat-option  >
                                    <mat-option   value="Sudan">Sudan</mat-option  >
                                    <mat-option   value="Sudan, South">Sudan, South</mat-option  >
                                    <mat-option   value="Suriname">Suriname</mat-option  >
                                    <mat-option   value="Sweden">Sweden</mat-option  >
                                    <mat-option   value="Switzerland">Switzerland</mat-option  >
                                    <mat-option   value="Syria">Syria</mat-option  >
                                    <mat-option   value="Taiwan">Taiwan</mat-option  >
                                    <mat-option   value="Tajikistan">Tajikistan</mat-option  >
                                    <mat-option   value="Tanzania">Tanzania</mat-option  >
                                    <mat-option   value="Thailand">Thailand</mat-option  >
                                    <mat-option   value="Togo">Togo</mat-option  >
                                    <mat-option   value="Tonga">Tonga</mat-option  >
                                    <mat-option   value="Trinidad and Tobago">Trinidad and Tobago</mat-option  >
                                    <mat-option   value="Tunisia">Tunisia</mat-option  >
                                    <mat-option   value="Turkey">Turkey</mat-option  >
                                    <mat-option   value="Turkmenistan">Turkmenistan</mat-option  >
                                    <mat-option   value="Tuvalu">Tuvalu</mat-option  >
                                    <mat-option   value="Uganda">Uganda</mat-option  >
                                    <mat-option   value="Ukraine">Ukraine</mat-option  >
                                    <mat-option   value="United Arab Emirates">United Arab Emirates</mat-option  >
                                    <mat-option   value="United Kingdom">United Kingdom</mat-option  >
                                    <mat-option   value="United States">United States</mat-option  >
                                    <mat-option   value="Uruguay">Uruguay</mat-option  >
                                    <mat-option   value="Uzbekistan">Uzbekistan</mat-option  >
                                    <mat-option   value="Vanuatu">Vanuatu</mat-option  >
                                    <mat-option   value="Vatican City">Vatican City</mat-option  >
                                    <mat-option   value="Venezuela">Venezuela</mat-option  >
                                    <mat-option   value="Vietnam">Vietnam</mat-option  >
                                    <mat-option   value="Yemen">Yemen</mat-option  >
                                    <mat-option   value="Zambia">Zambia</mat-option  >
                                    <mat-option   value="Zimbabwe">Zimbabwe</mat-option  >
                             
         </mat-select>
        <mat-error *ngIf="CreateAdminUser.controls['address'].hasError('required')">
          address is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label> phone number</mat-label>
        <input type="text" matInput formControlName="phonenumber" >
        <mat-error *ngIf="CreateAdminUser.controls['phonenumber'].hasError('required')">
          phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <input type="file" #file (change)="upleadImage(file.files)"  formControlName="profileimage"  >
      </div>
  
    </form>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="Cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="!CreateAdminUser.valid" mat-raised-button color="primary"  (click)="Create()" cdkFocusInitial>Create</button>
  </mat-dialog-actions>
  </ng-template>
  
  
  
  <ng-template #callDeletesDailog>
    <h1 mat-dialog-title>Delete Contact US</h1>
  <div mat-dialog-content>Are you sure want to delete this item ?</div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" mat-button mat-dialog-close="yes">yes</button>
    <button  type="button" mat-button mat-dialog-close="no">no</button>
  
  </div>
  
  </ng-template>
  
  

  
  
  
  
  </body>
  
  
  
  
  
  
  
   
  
  
  
  
  
  
  
   