    <app-navbar2></app-navbar2>


<div class="ltn__service-area section-bg-1 pt-115 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                    <h1 class="section-title">Our Core Services</h1>
                </div>
            </div>
        </div>
        <div class="row  justify-content-center">


            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <fa-icon [icon]="faSearch"></fa-icon>
                        <!-- <span><i class="fa-solid fa-magnifying-glass"></i></span> -->
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3>Pharmacy Search</h3>


                        <p>Locate nearby pharmacies and access their information, including the option to view them on a
                            map.</p>
                            <br>
                        <a href="map" class="theme-btn-1 btn btn-effect-1">View</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                    <div class="ltn__feature-icon">
                        <fa-icon [icon]="faReport"></fa-icon>
                        <!-- <img src="img/icons/icon-img/21.png" alt="#"> -->
                    </div>
                    <div class="ltn__feature-info">
                        <h3><a href="service-details.html">Order Using Prescription</a></h3>
                        <p>Upload your prescription, locate your medications at nearby pharmacies, and purchase online.
                        </p>
                        <br>
                        <a href="upload-prescription" class="theme-btn-1 btn btn-effect-1">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-100">
    <app-footer></app-footer>

</div>