<body>
    <app-navbar></app-navbar>
    <div class="body-wrapper" id="homeSection">
        <div class="bg-overlay-theme-30 p-4 p-lg-5 text-center shadow-1-strong rounded mb-5 text-white"
            style="background-image: url('assets/Images/{{homeData.image1}}'); position: relative; background-size: cover; background-position: center; height: 100vh; overflow: hidden; display: flex; align-items: center; justify-content: center;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div class="slide-item-info animate__animated animate__fadeInUp">
                            <div class="slide-item-info-inner animate__animated animate__fadeInUp">
                                <h1 class="slide-title animate__animated animate__fadeIn display-4 text-white">{{homeData.heading1}}</h1>
                                <div class="slide-brief animate__animated animate__fadeIn lead text-white">
                                    <p>{{homeData.content1}}</p>
                                </div>
                                <div class="btn-wrapper animate__animated animate__fadeIn">
                                    <a href="services" class="theme-btn-1 btn btn-effect-1">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
 
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="image-wrapper mt-4">
                    <a href="upload-prescription"><img src="assets/Images/ordernow.png" alt="Image" class="img-fluid rounded-4"></a>
                </div>
            </div>


    <div id="aboutUsSection">
        <app-aboutus></app-aboutus>
    </div>
    <div id="contactUsSection">
        <app-contactus></app-contactus>
    </div>

    <div id="testimonialsSection">
        <div class="container">
        <app-testimonial></app-testimonial>
    </div>
    </div>

    <app-footer></app-footer>


</body>