

<body>
    <app-navbar></app-navbar>

<div class="body-wrapper" id="homeSection">    

    <div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">

            <div class="ltn__slide-item ltn__slide-item-2 bg-overlay-theme-30">
                <div class=" text-left"> 
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h1 class="slide-title animated ">{{homeData.heading1}}</h1>
                                        <div class="slide-brief animated">
                                            <p>{{homeData.content1}}</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="services" class="theme-btn-1 btn btn-effect-1">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
          
        </div>
    </div>
 
   
    </div>
    <div class=" image-wrapper">
        <img src="assets/HomeAssets/img/pres_en (2).png" alt="Image">
        <a href="upload-prescription" class="image-button theme-btn-1 btn btn-effect-1">Order Now</a>
    </div>
    <div id="aboutUsSection">
        <app-aboutus ></app-aboutus>
    </div>
    <div id="contactUsSection">
        <app-contactus></app-contactus>
    </div>
    
    <div id="testimonialsSection">
        <app-testimonial></app-testimonial>
    </div>

    <app-footer></app-footer>
    </body> 

  
